<?xml version="1.0" encoding="UTF-8"?>
<!-- 注意，文件被命名为logback-spring.xml 才可以使用profile来指定环境 -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<property name="app_name" value="allan" />
	<property name="log_path" value="/Users/micezhao/fit_eat_logs"/>
	<contextName>${app_name}</contextName>
<!-- 控制台输出 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class{36} %L %M - %msg%xEx%n</pattern>
			 <charset>UTF-8</charset> 
		</encoder>
	</appender>

<!-- 文件存留 -->
  <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log_path}/allan.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${log_path}/allan-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
       <maxFileSize>100MB</maxFileSize>    
       <maxHistory>50</maxHistory>
       <totalSizeCap>5GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class{36} %L %M - %msg%xEx%n</pattern>
    </encoder>
  </appender>

	<!-- 精细化配置，这个类只存ERROR级别日志，优先级大于ROOT级别 -->
	
	<springProfile name="test">
	<logger name="org.springframework.scheduling" level="INFO" additivity="false">  
    	<appender-ref ref="ROLLING"/> 
    	<appender-ref ref="ROLLING"/>
  	</logger>   
  	<logger name="org.springframework.amqp.rabbit.listener" level="INFO" additivity="false">  
    	<appender-ref ref="ROLLING"/> 
    	<appender-ref ref="ROLLING"/>
  	</logger> 
  	<logger name="org.springframework.data.mongodb.core" level="INFO" additivity="false">
    	<appender-ref ref="ROLLING"/>
    	<appender-ref ref="ROLLING"/>
  	</logger> 
	</springProfile>
	
	<springProfile name="prod">
	<logger name="org.springframework.scheduling" level="ERROR" additivity="false">  
    	<appender-ref ref="ROLLING"/> 
    	<appender-ref ref="CONSOLE"/>  
  	</logger>   
  	<logger name="org.springframework.amqp.rabbit.listener" level="ERROR" additivity="false">  
    	<appender-ref ref="ROLLING"/> 
    	<appender-ref ref="CONSOLE"/>  
  	</logger> 
  	
  	<logger name="org.springframework.data.mongodb.core" level="ERROR" additivity="false">
    	<appender-ref ref="ROLLING"/>
    	<appender-ref ref="CONSOLE"/>  
  	</logger> 
	</springProfile>
   
	<!--默认配置 ，输出调试级别日志，上生产应改为ERROR级别日志，官方文档说明支持实时修改，修改后5分钟生效-->
	<root level="debug">
		<appender-ref ref="CONSOLE" />
	</root>
	
</configuration>