<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.f.a.kobe.customer.dao.LoginInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.f.a.kobe.customer.pojo.LoginInfo">
        <id column="id" property="id" />
        <result column="user_account" property="userAccount" />
        <result column="login_type" property="loginType" />
        <result column="channel" property="channel" />
        <result column="agent_id" property="agentId" />
        <result column="event" property="event" />
        <result column="token" property="token" />
        <result column="create_time" property="createTime" />
        <result column="expire_time" property="expireTime" />
        <result column="deleted" property="deleted" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_account, login_type, channel, agent_id, event, token, create_time, expire_time, deleted, gmt_create, gmt_modified
    </sql>

</mapper>
